<appSettings>
  <add key="FacebookAppId" value="3228419930605750"/>
  <add key="FacebookAppSecret" value="a5e79e8830f817ee05b1ee66d12bb738"/>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>